@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Francois+One&family=Luckiest+Guy&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/531/951/621/digital-digital-art-artwork-illustration-minimalism-hd-wallpaper-preview.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App h1{
  text-align: center;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.842);
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}
.template {
  width: 33.333%;
  background-position: center;
  background-size: cover;
  display: inline-block;
  border: 20px solid transparent;
  cursor: pointer;
}

.template .image {
  width: 85%;
  height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 30px;
  object-fit: cover;
}

.meme {
  text-align: center;
}

.meme img{
  width: auto;
  height: 450px;
  border: 1px solid black;
}

.meme input{
  margin: 20px 5px;
  padding: 5px;
  background: rgba(0, 168, 146, 0.932);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 5px;
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  outline: none;
  font-size: medium;
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.822);

}

input::placeholder {
  color: rgba(255, 255, 255, 0.753);
}

input:hover{
  background: rgba(11, 102, 84, 0.781);
  }

.btn {
  margin: 5px;
  padding: 6px 10px;
  background: rgb(255,193,7, 0.60);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 5px;
  border: 2px solid rgba(92, 87, 47, 0.18);
  color: rgb(238, 234, 234);
  font-size: medium;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;

}

.btn:hover{
  background-color: rgb(156, 120, 0);
}